*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: hwb(332 78% 7%);
  font-family: sans-serif;
  outline:none;
}
.cointainer{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.Calculator{
  background-color: #ffffff;
  padding: 15px;
  border-radius: 30px;
  box-shadow:0 10px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(4,68px);            
}
input{
  grid-column: span 4;
  height:70px;
  width:260px;
  background-color: #F5FBFF;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border:none;
  border-radius: 30px;
  color:rgb(119, 117, 117);
  font-size:60px;
  text-align: end;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}
button{
  height: 48px;
  width:48px;
  background-color: white;
  box-shadow: -5px -5px 12px #ffffff,
              5px 5px 12px rgba(0,0,0,.16);
  border:none;
  border-radius: 50%;
  margin: 8px;
  font-size: 16px;            
}
.equal{
  width:115px;
  border-radius: 40px;
  background-color: #eb9fbf;
  box-shadow:-5px -5px 12px #ffffff,
              5px 5px 12px rgba(0,0,0,.16);

}